:root {
    --font-serif: ivypresto-display, serif;
    --font-sans-serif: apertura, sans-serif;
    --pink: #D9B4BF;
    --warm-white: #FAF5E8;
    --brown: #DDD5C0;
    --green: #A9A885;
    --black: #121212;
}
html {
    box-sizing: border-box;
}
.components {
    padding: 5%;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}
/** typography **/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: var(--font-serif);
    font-weight: 100;
    color: var(--black);
    letter-spacing: .1rem;
}
h1,
h2,
h3 {
    font-family: var(--font-sans-serif);
    color: var(--black);
    margin: .6rem 0;
}
h4 {
    font-family: var(--font-serif);
    font-weight: 100;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin: 1rem 0;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
a {
    color: var(--black);
}
img {
    max-width: 100%;
    display: block;
}
.intro {
    margin-bottom: 2rem;
}
.component_name {
    font-family: var(--font-sans-serif);
    font-weight: 100;
    font-size: 1rem;
}

/* sidebar */
.sidebar {
    position: fixed;
    font-family: var(--font-sans-serif);
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--brown);
    padding: 0 2rem;
    
}
.sidebar header {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    color: var(--black);
    text-align: center;
    padding: 2rem 0;
}
.sidebar ul a {
    height: 100%;
    width: 100%;
    line-height: 2rem;

}
.page-content {
    margin-left: 250px;
}
/** component **/
.component {
    padding-bottom: 4rem;
}
.component_img {
    border: 0px solid white;
    overflow-x: auto;
}
.component_img img {
    max-width: initial;
}
/* body */
.component_code {
    font-family: var(--font-serif);
    font-weight: 100;
    color: black;
    font-size: 2.5rem;
    line-height: 1.3;
    background-color: var(--pink);
    margin: 1rem 0 0;
    max-width: 50rem;
}
/* headings */
.component_code--headings {
    background-color: var(--warm-white);
    margin: 1rem 0 0;
    max-width: 24rem;
}
/* links */
.component_code--links {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    font-size: 18px;
    line-height: 3rem;
}
.component_code--links .fa-angle-right {
    padding-left: .5rem;
}
a {
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid var(--black);
}
.diamond {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--black);
    background-color: transparent;
    transform: rotate(45deg);
}
.links_diamond {
    font-weight: initial;
    letter-spacing: .01rem;
}
.links_diamond a:hover:nth-child(1) {
    border-bottom: initial;
}
.diamond:hover {
    background-color: var(--black);
}
/* banner */
.component_code--banner {
    font-family: var(--font-sans-serif);
    background-color: var(--warm-white);
    font-size: 16px;
    letter-spacing: 0rem; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3rem 2rem 2rem;
}
.component_code--banner a {
    margin: 0 .8rem;
}
.banner_list {
    list-style-type: none;
    display: flex;
}
/* nav */
.component_code--nav {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    font-size: 21px;
    background-color: var(--warm-white);
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.nav_list {
    list-style-type: none;
    display: flex;
}
.component_code--nav a:hover {
    border-bottom: none;
}
.nav_list li {
    margin: 1rem;
}
/* alert */
.component_code--alert {
    font-family: var(--font-sans-serif);
    background-color: var(--black);
    color: var(--warm-white);
}
.alert {
    font-family: var(--font-sans-serif);
    background-color: var(--black);
    padding: 2rem;
    color: var(--warm-white);
}
.closebtn {
    color: var(--warm-white);
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    float: right;
}
.closebtn:hover {
    color: black;
    background-color: var(--warm-white);
    padding: .5rem;
}
.alert--link {
    color: var(--warm-white);
    border-bottom: 1px solid var(--warm-white);
}
.alert--link:hover {
    border-bottom: 1px solid var(--warm-white);
}
/* hero section */
.component_code--hero {
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
}
.component_code--hero p {
    font-size: 36px;
    margin: 0;
}
.component_code--hero h1 {
    font-size: 36px;
}
.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}
.button {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 20px;
}
.fa-angle-right {
    padding: 0 .6rem 0 1.2rem;
}
.button--hero {
    background-color: var(--pink);
}
.button:hover {
    background-color: var(--black);
    color: var(--warm-white);
}
/* events section */
.component_code--events {
    background-color: var(--warm-white);
    padding: 10rem 4% 6rem;
}
.component_code--events img {
    display: block;
}
.component_code--events h2 {
    padding: 0 0 4rem;
}
.events_list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3rem;
    padding: 0;
}
.events_list p {
    font-family: var(--font-sans-serif);
}
.events_list h3 {
    margin: 0;
}
h3.events--heading {
    margin: 2rem 0 0 !important;
}
.events_list h4 {
    margin: 0;
}
.component_code--events a:hover {
    border-bottom: 1px solid var(--black);
}

/* classes */
.component_code--classes {
    background-color: var(--warm-white);
    padding: 4rem 4% 8rem;
}
.classes_list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3rem;
    padding: 4rem 0;
}
.classes_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--green);
    padding: 3rem 0 0 2rem;
}
.classes_subheading {
    padding: 0rem 1rem 3rem;
}
.classes_subheading h4 {
    margin-top: 0;
}
.classes_subheading h3 {
    margin-bottom: 0;
}
.classes_subheading h3 a:hover {
    border-bottom: none;
}
.link--play {
    color: var(--warm-white);
    background-color: rgba(0,0,0,.5);
    padding: 1.5rem;
    position: absolute;
    left: 41.7%;
    margin-left: auto;
    margin-right: auto;
}
/* highlights */
.links--highlights {
    padding: 4rem 0;
}

/* mission section */
.component_code--mission {
    font-family: var(--font-serif);
    font-weight: 100;
    color: black;
    font-size: 2.4rem;
    line-height: 1.2;
    background-color: var(--pink);
}
.container--button {
    padding: 3rem 20%;
}
.button--mission {
    font-size: 1.1rem;
    background-color: var(--pink);
    margin: 0 .5rem 4rem 0;
}

/* footer */
.component_code--footer {
    background-color: var(--brown);
    text-align: center;
    padding: 6rem 1rem 1rem;
}
.component_code--footer h2 {
    font-size: 32px;
}
.footer_body {
    font-size: 24px;
    padding: 0 0 2rem;
}
.footer_list {
    list-style-type: none;
    display: flex;
    font-family: var(--font-sans-serif);
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: end;
    padding: 0;
}
.footer_list img {
    display: inline;
}
.footer_list li{
    padding: 1rem;
}
.footer_container {
    display: flex;
    justify-content: center;
}
.container_item {
    padding: 3rem;
    margin: 4%;
}
.container_item--subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button--footer {
    background-color: var(--brown);
}
.email {
    background-color: var(--brown);
    border: 1px solid var(--black);
    border-right: transparent;
    padding: 1rem;
    font-family: var(--font-sans-serif);
    max-width: 300px;
}
.email:hover {
    background-color: rgba(255,255,255,.4);
}
.submit {
    background-color: var(--brown);
    color: var(--black);
    border: 1px solid var(--black);
    border-left: transparent;
    padding: 1.08rem;
    font-family: var(--font-sans-serif);
    font-weight: bold;
    display: inline;
    white-space: nowrap;
    position: absolute;
}
.submit:hover {
    background-color: var(--black);
    color: var(--warm-white);
}
.footer_list--funders{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 2rem;
}
.footer_copyright {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 1rem;
}
.footer_list--copyright {
    font-weight: normal;
    font-size: 16px;
}
.component_code--footer h3 {
    margin: 0;
}

/** home-page template **/
.home-page_nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.logo a {
    margin: 0;
}
.component_code--mission p {
    padding: 4rem 20% 0rem;
}
.events_also {
    margin-top: 10rem;
}
.event_link--1 {
    margin: 1.5rem 0 .3rem;
}
.event_link--2 {
    margin: 0 0 .8rem;
}
.event_link {
    margin: 1.5rem 0 .8rem;
}
.hero_img {
    padding-bottom: 3rem;
}

/** ** ** ** ** ** ** ** **/
/** mobile media query **/
@media (max-width: 860px) {
    /* header */
    .component_code--banner {
        padding: 12px 0;
    }
    .component_code--banner a {
        margin-top: 1rem;
    }
    .banner_list {
        display: none;
    }
    .home-page_nav {
        display: none;
    }
    .logo {
        width: 104px;
    }
    .fa-lg {
        padding: 1rem;
    }
    .mobile-header:hover {
        border-bottom: none;
    }
    /* hero */
    .component_code--hero {
        flex-direction: column-reverse;
    }
    .hero_img {
        padding-left: 4%;
    }
    .hero_container {
        padding: 0 0 4rem 4%;
    }
    .hero_container p {
        margin-bottom: 3rem;
    }
    /* events */
    .events_list {
        grid-template-columns: 1fr;
    }
    .events_list img {
        width: 100%;
    }
}   
@media (min-width: 860px) {
    .mobile-header {
        display: none;
    }
}