<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/hpt7skw.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/6e52f25b84.js" crossorigin="anonymous"></script>
        <title>Components National Museum of Mexican Art</title>
    </head>
    <body>
        <h1>Web Design System</h1>
        <p>Collection of components based on my study of the design system of the <a href="https://nationalmuseumofmexicanart.org">National Museum of Mexican Art website.</a></p>

        <article class="component">
            <h3 class="component_name">body</h3>
            <div class="component_img">
                <img srcset="img/section5--body.png 2x" src="img/section5--body.png" alt="body copy" />
            </div>
        </article>

        <div class="component_code">
            Our programs and exhibitions capture the wide range of Mexican cultural expressions and art forms, from ancient to modern and on both sides of the border. We represent the Mexican community from its own point of view and in its own voice.
        </div>
        
        <article class="component">
            <h3 class="component_name">h2, h3, h4</h3>
            <div class="component_img">
                <img srcset="img/h2.png 2x" src="img/h2.png" alt="h2" />
                <img srcset="img/h3.png 2x" src="img/h3.png" alt="h3" />
                <img srcset="img/h4.png 2x" src="img/h4.png" alt="h4" />
            </div>
        </article>

        <div class="component_code--headings">
            <h2>Also On View Now</h2>
            <h3>Surrounding: Kahlo: Works from the Permanent Collection</h3>
            <h4>Mar 5, 2022 &ndash; Jan 15, 2023</h4>
        </div>

        <article class="component">
            <h3 class="component_name">Links</h3>
            <div class="component_code--links">
                <a href="#!">See All Resources</a> <i class="fa-solid fa-lg fa-angle-right"></i>
            </div>
        </article>

        <article class="component">
            <h3 class="component_name">Banner</h3>
            <div class="component_img">
                <img srcset="img/banner.png 2x" src="img/banner.png" alt="banner" />
            </div>
        </article>

        <div class="component_code--banner">
            <div>
                <ul class="banner_list">
                    <li><a href="#!">Always Free</a></li> 
                    <li>&#9670;</li>
                    <li><a href="#!">Plan Your Visit</a></li>
                </ul>
            </div>
            <div class="logo">
                <img srcset="img/logo.png 2x" src="img/logo.png" alt="banner" />
            </div>
            <div>
                <ul class="banner_list">
                    <li><a href="#!">Donate</a></li>
                    <li><a href="#!">Become a Member</a></li>
                    <li><a href="#!">Shop</a></li>
                </ul>
            </div>
        </div>
        <article class="component">
            <h3 class="component_name">Main Nav</h3>
            <div class="component_img">
                <img srcset="img/main-nav.png 2x" src="img/main-nav.png" alt="main nav" />
            </div>
        </article>

        <div class="component_code--nav">
            <ul class="nav_list">
                <li><a href="#!">Our Story</a></li>
                <li><a href="#!">What's Happening</a></li>
                <li><a href="#!">Art + Artists</a></li>
                <li><a href="#!">Learn</a></li>
                <li><a href="#!">Get Involved</a></li>
                <li><a href="#!"><i class="fa-solid fa-magnifying-glass"></i></a></li>
            </ul>
        </div>
        <article class="component">
            <h3 class="component_name">Alert</h3>
            <div class="component_img">
                <img srcset="img/alert.png 2x" src="img/alert.png" alt="alert" />
            </div>
        </article>
        <div class="component_code--alert">
            <div>
                Open late every Wednesday! Explore our galleries until 8pm every Wednesday through August 7th.
            </div>
            <div>
                <button class="button" type="button">X</button>
            </div>
        </div>

        <article class="component">
            <h3 class="component_name">hero-section</h3> 
            <div class="component_img">
                <img srcset="img/section1.png 2x" src="img/section1.png" alt="hero section" />
            </div>
        </article>
        <div class="component_code--hero">
            <div class="hero_container">
                <div>
                    <h1>Frida Kahlo, Her Photos</h1>
                </div>
                <div>
                    <p>Now on view</p>
                </div>
                <div>
                    <button class="button--hero" type="button">Exhibition Details <i class="fa-solid fa-lg fa-angle-right"></i></button>
                </div>
            </div>
            <div>
                <img srcset="img/kahlo.webp 2x" src="img/kahlo.webp" alt="picture of Frida Kahlo" />
            </div>
        </div>

        <article class="component">
            <h3 class="component_name">cover-section--events</h3>
            <div class="component_img">
                <img srcset="img/cover-section--events.png 2x" src="img/cover-section--events.png" alt="events section" />
            </div>
        </article>
        <div class="component_code--events">
            <section>
                <img srcset="img/wednesday.webp 2x" src="img/wednesday.webp" alt="image of front of the museum">
                <h3>Late Wednesdays</h3>
                <h4>Apr 6 &ndash; Aug 3, 2022</h4>
            </section>

            <section>
                <img srcset="img/nicho.webp 2x" src="img/nicho.webp" alt="nicho box">
                <p>&#9671; Classes &amp; Workshops</p>
                <h3>Studio Saturdays: Nicho Box</h3>
                <h4>Apr 16, 10:00am</h4>
            </section>

            <section>
                <img srcset="img/gala.webp 2x" src="img/gala.webp" alt="Gala de Arte">
                <p>&#9671; Special Events</p>
                <h3>Gala de Arte</h3>
                <h4>May 13, 6:00</h4>
            </section>
        </div>

    </body>
</html>