<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/hpt7skw.css">
        <link rel="stylesheet" href="../css/main.css">
        <title>Components National Museum of Mexican Art</title>
    </head>
    <body>
        <h1>Web Design System</h1>
        <p>Collection of components based on my study of the design system of the <a href="https://nationalmuseumofmexicanart.org">National Museum of Mexican Art website.</a></p>

        <article class="component">
            <h3 class="component_name">body</h3>
            <div class="component_img">
                <img srcset="img/section5--body.png 2x" src="img/section5--body.png" alt="body copy" />
            </div>
        </article>

        <div class="component_code">
            Our programs and exhibitions capture the wide range of Mexican cultural expressions and art forms, from ancient to modern and on both sides of the border. We represent the Mexican community from its own point of view and in its own voice.
        </div>
        
        <article class="component">
            <h3 class="component_name">h2, h3, h4</h3>
            <div class="component_img">
                <img srcset="img/h2.png 2x" src="img/h2.png" alt="h2" />
                <img srcset="img/h3.png 2x" src="img/h3.png" alt="h3" />
                <img srcset="img/h4.png 2x" src="img/h4.png" alt="h4" />
            </div>
        </article>

        <div class="component_code--headings">
            <h2>Also On View Now</h2>
            <h3>Surrounding: Kahlo: Works<br> from the Permanent Collection</h3>
            <h4>Mar 5, 2022 &ndash; Jan 15, 2023</h4>
        </div>
    </body>
</html>