<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="https://use.typekit.net/hpt7skw.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://kit.fontawesome.com/6e52f25b84.js" crossorigin="anonymous"></script>
        <title>Components National Museum of Mexican Art</title>
    </head>
    <body>
        <h1>Web Design System</h1>
        <p>Collection of components based on my study of the design system of the <a href="https://nationalmuseumofmexicanart.org">National Museum of Mexican Art website.</a></p>

        <article class="component">
            <h3 class="component_name">body</h3>
            <div class="component_img">
                <img srcset="img/section5--body.png 2x" src="img/section5--body.png" alt="body copy" />
                <p>body copy screenshot</p>
            </div>
            <div class="component_code">
                Our programs and exhibitions capture the wide range of Mexican cultural expressions and art forms, from ancient to modern and on both sides of the border. We represent the Mexican community from its own point of view and in its own voice.
            </div>
            <p>body copy code</p>
        </article>
        
        <article class="component">
            <h3 class="component_name">h2, h3, h4</h3>
            <div class="component_img">
                <img srcset="img/h2.png 2x" src="img/h2.png" alt="h2" />
                <img srcset="img/h3.png 2x" src="img/h3.png" alt="h3" />
                <img srcset="img/h4.png 2x" src="img/h4.png" alt="h4" />
            </div>
            <p>headings screenshot</p>
            <div class="component_code--headings">
                <h2>Also On View Now</h2>
                <h3>Surrounding: Kahlo: Works from the Permanent Collection</h3>
                <h4>Mar 5, 2022 &ndash; Jan 15, 2023</h4>
            </div>
            <p>headings code</p>
        </article>

        <article class="component">
            <h3 class="component_name">links</h3>
            <div class="component_code--links">
                <p><a href="#!">See All Resources</a> <i class="fa-solid fa-lg fa-angle-right"></i></p>
                <p class="links_diamond"><a href="#!"><span class="diamond"></span> Classes &amp; Workshops</a></p>
            </div>
            <p>*how do I make only the diamond fill in on hover??*</p>
        </article>

        <article class="component">
            <h3 class="component_name">buttons</h3>
            <div class="component_code--button">
                <button class="button" type="button">Exhibition Details <i class="fa-solid fa-lg fa-angle-right"></i></button>
            </div>
        </article>

        <article class="component">
            <h3 class="component_name">banner</h3>
            <div class="component_img">
                <img srcset="img/banner.png 2x" src="img/banner.png" alt="banner" />
            </div>
            <p>banner screenshot</p>
            <div class="component_code--banner">
                <div>
                    <ul class="banner_list">
                        <li><a href="#!">Always Free</a></li> 
                        <li>&#9670;</li>
                        <li><a href="#!">Plan Your Visit</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <img srcset="img/logo.png 2x" src="img/logo.png" alt="banner" />
                </div>
                <div>
                    <ul class="banner_list">
                        <li><a href="#!">Donate</a></li>
                        <li><a href="#!">Become a Member</a></li>
                        <li><a href="#!">Shop</a></li>
                    </ul>
                </div>
            </div>
            <p>banner code</p>
        </article>

        <article class="component">
            <h3 class="component_name">main-nav</h3>
            <div class="component_img">
                <img srcset="img/main-nav.png 2x" src="img/main-nav.png" alt="main nav" />
            </div>
            <p>main navigation screenshot</p>
            <div class="component_code--nav">
                <ul class="nav_list">
                    <li><a href="#!">Our Story</a></li>
                    <li><a href="#!">What's Happening</a></li>
                    <li><a href="#!">Art + Artists</a></li>
                    <li><a href="#!">Learn</a></li>
                    <li><a href="#!">Get Involved</a></li>
                    <li><a href="#!"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                </ul>
            </div>
            <p>main navigation code</p>
        </article>

        <article class="component">
            <h3 class="component_name">alert</h3>
            <div class="component_img">
                <img srcset="img/alert.png 2x" src="img/alert.png" alt="alert" />
            </div>
            <p>alert screenshot</p>
            <div class="component_code--alert">
                <div>
                    Open late every Wednesday! Explore our galleries until 8pm every Wednesday through August 7th.
                </div>
                <div>
                    <button class="button--alert" type="button">X</button>
                </div>
            </div>
            <p>alert code</p>
        </article>

        <article class="component">
            <h3 class="component_name">hero-section</h3> 
            <div class="component_img">
                <img srcset="img/section1.png 2x" src="img/section1.png" alt="hero section" />
            </div>
            <p>hero section screenshot</p>
            <div class="component_code--hero">
                <div class="hero_container">
                    <div>
                        <h1>Frida Kahlo, Her Photos</h1>
                    </div>
                    <div>
                        <p>Now on view</p>
                    </div>
                    <div>
                        <button class="button button--hero" type="button">Exhibition Details <i class="fa-solid fa-lg fa-angle-right"></i></button>
                    </div>
                </div>
                <div>
                    <img srcset="img/kahlo.webp 2x" src="img/kahlo.webp" alt="picture of Frida Kahlo" />
                </div>
            </div>
            <p>hero section code</p>
        </article>

        <article class="component">
            <h3 class="component_name">cover-section--events</h3>
            <div class="component_img">
                <img srcset="img/cover-section--events.png 2x" src="img/cover-section--events.png" alt="events section" />
            </div>
            <p>events section screenshot</p>
            <div class="component_code--events">
                <h2>Happening Soon</h2>
                <ul class="events_list">
                    <li>
                        <img srcset="img/wednesday.webp 2x" src="img/wednesday.webp" alt="image of front of the museum">
                        <h3 class="events--heading"><a href="#!">Late Wednesdays</a></h3>
                        <h4>Apr 6 &ndash; Aug 3, 2022</h4>
                    </li>
                    <li>
                        <img srcset="img/nicho.webp 2x" src="img/nicho.webp" alt="nicho box">
                        <p>&#9671; Classes &amp; Workshops</p>
                        <h3><a href="#!">Studio Saturdays: Nicho Box</a></h3>
                        <h4>Apr 16, 10:00 am</h4>
                    </li>
                    <li> 
                        <img srcset="img/gala.webp 2x" src="img/gala.webp" alt="Gala de Arte">
                        <p>&#9671; Special Events</p>
                        <h3><a href="#!">Gala de Arte</a></h3>
                        <h4>May 13, 6:00 &ndash; 11:00 pm</h4>
                    </li>
                </ul>
            </div>
            <p>events section code</p>
        </article>

        <article class="component">
            <h3 class="component_name">cover-section--classes</h3>
            <div class="component_img">
                <img srcset="img/section4.png 2x" src="img/section4.png" alt="events section" />
            </div>
            <p>classes section screenshot</p>
            <div class="component_code--classes">
                <h2>Learn with Art</h2>
                <ul class="classes_list">
                    <li class="classes_container">
                        <div class="classes_subheading">
                            <h3><a href="#!">NMMAen Casa: Tin Sacred Hearts</a></h3>
                            <h4>Grades 6&ndash;8, Grades 9&ndash;12</h4>
                        </div>
                        <div>
                            <img srcset="img/hearts.webp 2x" src="img/hearts.webp" alt="image of markers and 2 hearts on a pink cloth">
                        </div>
                    </li>
                    <li class="classes_container">
                        <div class="classes_subheading">
                            <h3><a href="#!">NMMA en Casa: Weaving</a></h3>
                            <h4>Grades 6&ndash;8, Grades 9&ndash;12</h4>
                        </div>
                        <div>
                            <img srcset="img/weaving.webp 2x" src="img/weaving.webp" alt="hands using yarn to weave">
                        </div>
                    </li>
                    <li class="classes_container"> 
                        <div class="classes_subheading">
                            <h3><a href="#!">NMMA en Casa: Paper Mache Sugar Skulls</a></h3>
                            <h4>Grades K&ndash;5, Grades 6&ndash;8, Grades 9&ndash;12</h4>
                        </div>
                        <div>
                            <img srcset="img/sugar-skulls.webp 2x" src="img/sugar-skulls.webp" alt="two hands decorating a skull with marker">
                        </div>
                    </li>
                </ul>
                <div class="component_code--links">
                    <a href="#!">See All Resources</a> <i class="fa-solid fa-lg fa-angle-right"></i>
                </div>
            </div>
            <p>classes section code</p>
        </article>

        <article class="component">
            <h3 class="component_name">cover-section--highlights</h3>
            <div class="component_img">
                <img srcset="img/section6.png 2x" src="img/section6.png" alt="highlights section" />
            </div>
            <p>highlights section screenshot</p>
            <div class="component_code--events">
                <h2>Art Highlights</h2>
                <ul class="events_list">
                    <li>
                        <img srcset="img/alfonso-castillo.webp 2x" src="img/alfonso-castillo.webp" alt="image of a mask titled Máscara con figuras pre-Cuauhtémoc">
                        <p>&#9671; Arte Popular</p>
                        <h3 class="events--heading"><a href="#!">Alfonso Castillo Orta</a></h3>
                        <h4>Máscara con figuras pre-Cuauhtémoc, 1992</h4>
                    </li>
                </ul>
                <div class="component_code--links">
                    <a href="#!">See All Resources</a> <i class="fa-solid fa-lg fa-angle-right"></i>
                </div>
            </div>
            <p>highlights section code</p>
        </article>

        <article class="component">
            <h3 class="component_name">footer</h3>
            <div class="component_img">
                <img srcset="img/footer.png 2x" src="img/footer.png" alt="screenshot of footer section">
            </div>
            <p>footer section screenshot</p>
            <div class="component_code--footer">
                <h2>National Museum of Mexican Art</h2>
                <p>1852 W 19th Street
                    Chicago, IL 60608</p>
                <p>Open Tuesday &ndash; Sunday
                    10 am &ndash; 5 pm</p>
                <!--nav-->
                <div>
                    <ul class="footer_list">
                        <li><a href="#!">Plan Your Visit</a></li>
                        <li><a href="#!">Contact us</a></li>
                        <li><a href="#!">Yollocalli</a></li>
                    </ul>
                </div>
                <!--socials-->
                <div>
                    <ul class="footer_list">
                        <li><a href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#!"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!--container-->
                <div class="footer_container">
                <!--get involved left-->
                    <div>
                        <h3>Get Involved</h3>
                        <p>Your gift helps keep Mexican Art accessible to all.</p>
                        <button class="button" type="button">Donate <i class="fa-solid fa-lg fa-angle-right"></i></button>
                        <button class="button" type="button">Join <i class="fa-solid fa-lg fa-angle-right"></i></button>
                    </div>
                    <!--newsletter right-->
                    <div>
                        <h3>Subscribe to Our Newsletter</h3>
                        <p>Art and events in your inbox.</p>
                        <p>email goes here</p>
                    </div>
                </div>
                <!--funders-->
                <ul class="footer_list"> 
                    <li ><strong>Thanks to Our Funders</strong></li>
                    <li>Chicago Park District</li>
                    <li>Illinois Arts Council</li>
                </ul>
                <!--copyright-->
                <p>&copy;2022 National Museum of Mexican Art &ndash; All rights reserved</p>
                <ul class="footer_list">
                    <li>Terms of Use</li>
                    <li>Privacy Policy</li>
                    <li>Site by AREA 17</li>
                </ul>
            </div>
            <p>Footer section code</p>
        </article>
    </body>
</html>